<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="icon" type="image/png" href="/media/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/media/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/media/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Uploader" />
    <link rel="manifest" href="/media/favicon/site.webmanifest" />
    <title>Folder Creation</title>
</head>
<body>
    <header class="home-header">
        <h1>Folder Creation</h1>
        <h2>Add a folder to your space</h2>
    </header>

    <div class="folder-main">
        <form action="/create-folder" method="POST" class="create-folder-form app-form">
            <% if (locals.errors) { %>
                <div class="error-cont">
                    <img src="/media/icons/alert.svg">
                    <p class="error-notice-text"><%= errors[0].msg%></p>
                </div>
            <% } %>

            <div class="form-row">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="<%= locals.name !== undefined ? locals.name : '' %>">
                <% if (locals.nameErrors ) { %>
                    <%- include("../partials/inline-errors.ejs", { errors: locals.nameErrors }) %>
                <% } %>
            </div>

            <div class="form-row">
                <label for="description">Description (Optional)</label>
                <input type="text" name="description" id="description" value="<%= locals.description !== undefined ? locals.description : '' %>">
                <% if (locals.descriptionErrors ) { %>
                    <%- include("../partials/inline-errors.ejs", { errors: locals.descriptionErrors }) %>
                <% } %>
            </div>
            
            <div class="form-row">
                <fieldset>
                    <legend>Visibility</legend>
                    <div class="radio-list">
                        <%- include("../partials/visibility-options.ejs", { options: locals.options }) %>
                    </div>
                </fieldset>
            </div>

            <button type="submit">Create</button>
        </form>

    </div>

    <footer>
        <div class="footer-links-cont">
            <a href="/">
                <img src="/media/icons/home.svg" alt="homepage">
            </a>
        </div>
    </footer>
</body>
</html>